@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minerva";
  src: url("/assets/fonts/MinervaModern Black.woff") format("woff");
}

@font-face {
  font-family: "Minerva-bold";
  src: url("/assets/fonts/MinervaModern Bold.woff") format("woff");
}

@font-face {
  font-family: "Minerva-italic";
  src: url("/assets/fonts/MinervaModern Italic.woff") format("woff");
}

@layer base {
  body {
    font-family: "Minerva-bold";
    @apply bg-lime text-green;
  }
  h1,
  h2 {
    font-family: "Minerva-italic";
  }
  .bold {
    font-family: "Minerva";
  }
  .italic {
    font-family: "Minerva-italic";
  }
}
